<div class="favorite_meal">
  <div><%= image_tag(meal.img_url, size: '100x100', alt: 'MealImage', class: 'draggable', value: meal.id, onerror: "this.onerror=null; this.src='/assets/home.jpg'") %></div>
  <div class="meal_icons">
    <div>
      <%= link_to '#', onclick: "get_recipe_for_fav_meal(event, $(this))" do %>
        <input type="hidden" name="id" value="<%= meal.id %>">
        <i class="far fa-list-alt"></i>
      <% end %>
    </div>
    <div>
      <%= link_to '#', onclick: 'delete_like(event, $(this))' do %>
        <input type="hidden" name="id" value="<%= meal.meal_id_string %>">
        <i class="fas fa-heart icons"></i>
      <% end %>
    </div>
  </div>
  <div><%= meal.name %></div>
</div>
