<div class="home_login_signup">
  <% if !@notice.nil? %>
    <p><%= @notice %></p>
  <% end %>
  <h2>Login</h2>
  <%= form_tag sessions_path do |form| %>
    <div>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= submit_tag "Login" %>
    </div>
  <% end %>
</div>
