<%= form_tag(my_meals_path) do |form| %>
  <table class="create_table">
    <tr>
      <td><%= label_tag :title %></td>
      <td><%= text_field_tag :title %></td>
    </tr>
    <tr>
      <td><%= label_tag :photo %></td>
      <td><%= file_field_tag :avatar %></td>
    </tr>
    <tr>
      <td><%= label_tag :category %></td>
      <td>
        <%= select_tag :category, options_for_select(['Beef',
                                                        'Chicken',
                                                        'Dessert',
                                                        'Lamb',
                                                        'Miscellaneous',
                                                        'Pasta',
                                                        'Pork',
                                                        'Seafood',
                                                        'Side',
                                                        'Starter',
                                                        'Vegan',
                                                        'Vegetarian'], @my_meal.category) %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :instructions %></td>
      <td><%= text_area_tag :instructions, nil, size: '25x10' %></td>
    </tr>
    <tr id="ingredientsToMeal1">
      <td><%= label_tag :ingredient %></td>
      <td>
        <%= select_tag "ingredients[]ingredient[foods]", options_for_select(@foods.map(&:name)) %>
        <%= select_tag "ingredients[]ingredient[measures]", options_for_select(@measures.map(&:name)) %>
        <%= text_field_tag "ingredients[]ingredient[qty]", nil, size: '5x5', class: 'qty_input' %>
        <%= submit_tag 'Add more ingredients', onclick: 'more_ingredients(event, $(this))' %>
      </td>
    </tr>
    <tr>
      
    </tr>
    <tr>
      <td><%= submit_tag %></td>
    </tr>
  </table>
<% end %>
<script>
  function more_ingredients(event, button) {
    event.preventDefault();
    
    let tr = button.parents('tr');
    let clone = tr.clone();
    let id = parseInt(clone.attr('id').replace('ingredientsToMeal', '')) + 1;
    clone.attr('id', 'ingredientsToMeal' + id);
    button.hide();
    clone.insertAfter(tr);
    clone.find('.qty_input').val('');
  }

</script>