<%= form_for @my_meal do |form| %>
  <table class="create_table">
    <tr>
      <td><%= form.label :title %></td>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr>
      <td><%= form.label :photo %></td>
      <td><%= form.file_field :avatar %></td>
    </tr>
    <tr>
      <td><%= form.label :category %></td>
      <td>
        <%= form.select :category, options_for_select(['Beef',
                                                       'Chicken',
                                                       'Dessert',
                                                       'Lamb',
                                                       'Miscellaneous',
                                                       'Pasta',
                                                       'Pork',
                                                       'Seafood',
                                                       'Side',
                                                       'Starter',
                                                       'Vegan',
                                                       'Vegetarian',
                                                       'Breakfast'], @my_meal.category) %>
      </td>
    </tr>
    <tr>
      <td><%= form.label :instructions %></td>
      <td><%= form.text_area :instructions, size: '25x10' %></td>
    </tr>
    <% @my_meal.ingredients.each do |i| %>
      <tr>
        <td>
          <%= link_to '#', onclick: "delete_ingredient(event, #{i.id}, $(this))" do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </td>
        <td><%= i.food.name %>, <%= i.measure.name %>, <%= i.qty %>, <%= i.description %></td>
      </tr>
    <% end %>
    <tr id="ingredientsToMeal1">
      <td><%= form.label :ingredient %></td>
      <td>
        <table>
          <tr>
            <td>Ingredient</td>
            <td><%= form.select :ingredients, options_for_select(Food.all.map(&:name).unshift('')), {}, { name: 'ingredients[]ingredient[foods]' } %></td>
          </tr>
          <tr>
            <td>Measure</td>
            <td><%= form.select :ingredients, options_for_select(Measure.all.map(&:name).unshift('')), {}, { name: 'ingredients[]ingredient[measures]' } %></td>
          </tr>
          <tr>
            <td>Qty</td>
            <td><%= form.text_field :ingredients, value: '', name: 'ingredients[]ingredient[qty]', size: '5x5' %></td>
          </tr>
          <tr>
            <td>Desc</td>
            <td><%= form.text_field :ingredients, value: '', name: 'ingredients[]ingredient[description]' %></td>
          </tr>
        </table>
        <%= form.submit 'Add more ingredients', onclick: 'more_ingredients(event, $(this))' %>
      </td>
    </tr>
    <tr>
      <td><%= form.submit %></td>
    </tr>
  </table>
<% end %>
<script>

</script>