<%= form_for @my_meal do |form| %>
  <table class="create_table">
    <tr>
      <td><%= form.label :title %></td>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr>
      <td><%= form.label :photo %></td>
      <td><%= form.file_field :avatar %></td>
    </tr>
    <tr>
      <td><%= form.label :category %></td>
      <td>
        <%= form.select :category, options_for_select(['Beef',
                                                        'Chicken',
                                                        'Dessert',
                                                        'Lamb',
                                                        'Miscellaneous',
                                                        'Pasta',
                                                        'Pork',
                                                        'Seafood',
                                                        'Side',
                                                        'Starter',
                                                        'Vegan',
                                                        'Vegetarian'], @my_meal.category) %>
      </td>
    </tr>
    <tr>
      <td><%= form.label :instructions %></td>
      <td><%= form.text_area :instructions, size: '25x10' %></td>
    </tr>
    <tr id="ingredientsToMeal1">
      <td><%= form.label :ingredient %></td>
      <td>
        <%= form.select :ingredients, options_for_select(@foods.map(&:name)), {}, { name: 'ingredients[]ingredient[foods]' } %>
        <%= form.select :ingredients, options_for_select(@measures.map(&:name)), {}, { name: 'ingredients[]ingredient[measures]' } %>
        <%= form.text_field :ingredients, value: '', name:'ingredients[]ingredient[qty]' %>
        <%#= form.text_field :ingredients, {size: '5x5', class: 'qty_input', multiple: true, name:'ingredients[]ingredient[qty]'}, nil %>
        <%= form.submit 'Add more ingredients', onclick: 'more_ingredients(event, $(this))' %>
      </td>
    </tr>
    <tr>
      <td><%= form.submit %></td>
    </tr>
  </table>
<% end %>
<script>
  function more_ingredients(event, button) {
    event.preventDefault();
    
    let tr = button.parents('tr');
    let clone = tr.clone();
    let id = parseInt(clone.attr('id').replace('ingredientsToMeal', '')) + 1;
    clone.attr('id', 'ingredientsToMeal' + id);
    button.hide();
    clone.insertAfter(tr);
    clone.find('#my_meal_ingredients').val('');
  }
</script>