<%= form_for @my_meal do |form| %>
  <table class="create_table">
    <tr>
      <td><%= form.label :title %></td>
      <td><%= form.text_field :title %></td>
    </tr>
    <tr>
      <td><%= form.label :photo %></td>
      <td><%= form.file_field :avatar %></td>
    </tr>
    <tr>
      <td><%= form.label :category %></td>
      <td>
        <%= form.select :category, options_for_select(['Beef',
                                                       'Chicken',
                                                       'Dessert',
                                                       'Lamb',
                                                       'Miscellaneous',
                                                       'Pasta',
                                                       'Pork',
                                                       'Seafood',
                                                       'Side',
                                                       'Starter',
                                                       'Vegan',
                                                       'Vegetarian',
                                                       'Breakfast'], @my_meal.category) %>
      </td>
    </tr>
    <tr>
      <td><%= form.label :instructions %></td>
      <td><%= form.text_area :instructions, size: '50x15' %></td>
    </tr>
    <% @my_meal.ingredients.each do |i| %>
      <tr>
        <td>
          <%= link_to '#', onclick: "delete_ingredient(event, #{i.id}, $(this))" do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </td>
        <td><%= i.food.name %>, <%= i.measure.name %>, <%= i.qty %>, <%= i.description %></td>
      </tr>
    <% end %>
    <tr id="ingredientsToMeal1">
      <td><%= form.label :ingredient %></td>
      <td>
        <table>
          <tr>
            <td>Ingredient</td>
            <td>
              <input id="foodSearch" type="text" placeholder="Search...">
              <select name="ingredients[]ingredient[foods]">
                <option value=""></option>
                 <%= Food.order(name: :asc).each do |f| %>
                  <option class="ingredients_food" value=<%= f.name %>><%= f.name %></option>
                 <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>Measure</td>
            <td>
              <input id="measureSearch" type="text" placeholder="Search...">
              <select name="ingredients[]ingredient[measures]">
                <option value=""></option>
                 <%= Measure.order(name: :asc).each do |m| %>
                  <option class="ingredients_measure" value=<%= m.name %>><%= m.name %></option>
                 <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>Qty</td>
            <td><%= form.text_field :ingredients, value: '', name: 'ingredients[]ingredient[qty]', size: '5x5' %></td>
          </tr>
          <tr>
            <td>Desc</td>
            <td><%= form.text_field :ingredients, value: '', name: 'ingredients[]ingredient[description]' %></td>
          </tr>
        </table>
        <%= form.submit 'Add more ingredients', onclick: 'more_ingredients(event, $(this))', class: 'add_more_ingredients' %>
      </td>
    </tr>
    <tr>
      <td><%= form.submit %></td>
    </tr>
  </table>
<% end %>
<script>
  $('#foodSearch').on('keyup', function() {
    let val = $(this).val().toLowerCase();
    $('.ingredients_food').filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(val) > -1)
    })
  });

  $('#measureSearch').on('keyup', function() {
    let val = $(this).val().toLowerCase();
    $('.ingredients_measure').filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(val) > -1)
    })
  });
</script>