<div class="show_recipe_details">
  <% if @error %>
    <div><p><%= @error%> </p></div>
  <% else %>
    <h3><%= @my_meal.title %></h3>
    <%= image_tag(@my_meal.mealThumb, size: '100x100', alt: 'MealImage', onerror: "this.onerror=null; this.src='/assets/home.jpg'") %>
    <div class="recipe_details">
      <table>
        <tr>
          <td class="field_show_recipe_details">Category:</td>
          <td><%= @my_meal.category %></td>
        </tr>
        <tr>
          <td class="field_show_recipe_details">Instructions:</td>
          <td><%= @my_meal.instructions %></td>
        </tr>
        <% @my_meal.ingredients.each do |i| %>
          <p><%= i.qty %> <%= i.measure.name %>: <%= i.food.name %> <%= i.food.description %></p>
        <% end %>
      </table>
    </div>
  <% end %>
</div>