<div class="welcome">
  <div class="bg">
    <% if !current_user %>
      <%= link_to signup_path, class: "register" do %>
        Register
      <% end %>
    <% end %>
  </div>
  <div class="home_text">
    <h2>Welcome to the Meal Week Planer</h2>
  </div>
  <div class="home_meals">
    <div>
      <div><%= image_tag('meal_one.jpg', size: '100x100', alt: 'Meal_one', class: 'home_image') %></div>
    </div>
    <div>
      <div><%= image_tag('meal_two.jpg', size: '100x100', alt: 'Meal_two', class: 'home_image') %></div>
    </div>
    <div>
      <div><%= image_tag('meal_three.jpg', size: '100x100', alt: 'Meal_three', class: 'home_image') %></div>
    </div>
  </div>
  <div class="home_text">
    <h2>How It Works</h2>
  </div>
  <div class="home_how">
    <div>
      <div><%= image_tag('list.jpg', size: '100x100') %></div>
      <h3>Choose Your Meals</h3>
      <p>We offer a variety of recipes. Uur recipes will simplify your life and delight your taste buds</p>
    </div>
    <div>
      <div><%= image_tag('list.jpg', size: '100x100') %></div>
      <h3>Get Your Groceries</h3>
      <p>Save time planig your week. Just add your meal and create the grocery list.</p>
    </div>
    <div>
      <div><%= image_tag('list.jpg', size: '100x100') %></div>
      <h3>Enjoy Your Meals</h3>
      <p>Getting dinner on the table has never been easier with healthy, homecooked meals the whole family will love.</p>
    </div>
  </div>
</div>
