<% r = @recipe ? @recipe : recipe %>
<div class="meal">
  <div><h3><%= r['strMeal'] %></h3></div>
  <div><%= image_tag(r['strMealThumb'], size: '200x200', alt: r['strMealThumb']) %></div>
  <div id="recipe_id<%= r['idMeal'] %>"
       class="week_plan_select"
       onclick="selectMenu($(this))" <% if like && like.week_plan == true %> style="background-color:#A3D144;" <% end %>>Week Plan
  </div>
  <div>
    <div><button onclick="recipeDetails($(this))">Show Recipe Details</button></div>
    <div style="display:none;"><button onclick="recipeDetails($(this))">Hide Recipe Details</button></div>
    <div class="recipe_details" <% if !@recipe %> style="display:none" <% end %>>
      <table>
        <tr>
          <td>Category:</td>
          <td><%= r['strCategory'] %></td>
        </tr>
        <tr>
          <td>Area:</td>
          <td><%= r['strArea'] %></td>
        </tr>
        <tr>
          <td>Instructions:</td>
          <td><%= r['strInstructions'] %></td>
        </tr>
        <% index = 1 %>
        <% loop do %>
          <% i = 'strIngredient' + index.to_s %>
          <% m = 'strMeasure' + index.to_s %>
          <% if r[i] == '' %>
            <% break %>
          <% end %>
          <tr>
            <td><%= r[i]%>:</td>
            <td><%= r[m] %></td>
          </tr>
          <% index += 1%>
        <% end %>
      </table>
    </div>
  </div>
</div>
