<div class="show_recipe_details">
  <% recipe = @recipe || recipe %>
  <h3><%= recipe['strMeal'] %></h3>
  <%= image_tag(recipe['strMealThumb'], size: '100x100', alt: recipe['strMealThumb']) %>
  <div class="recipe_details">
    <table>
      <tr>
        <td class="field_show_recipe_details">Category:</td>
        <td><%= recipe['strCategory'] %></td>
      </tr>
      <tr>
        <td class="field_show_recipe_details">Area:</td>
        <td><%= recipe['strArea'] %></td>
      </tr>
      <tr>
        <td class="field_show_recipe_details">Instructions:</td>
        <td><%= recipe['strInstructions'] %></td>
      </tr>
      <% index = 1 %>
      <% loop do %>
        <% i = 'strIngredient' + index.to_s %>
        <% m = 'strMeasure' + index.to_s %>
        <% if recipe[i] == '' || recipe[i] == nil %>
          <% break %>
        <% end %>
        <tr>
          <td class="field_show_recipe_details"><%= recipe[i]%>:</td>
          <td><%= recipe[m] %></td>
        </tr>
        <% index += 1%>
      <% end %>
    </table>
  </div>
</div>
