<div class="meals_home">
  <div class="">
    <div class="category">
      <% if @error %>
        <div><p><%= @error%> </p></div>
      <% else %>
        <% @categories.each do |c| %>
          <div>
            <%= link_to('#', class: 'category_link' ) do %>
              <table>
                <tr>
                  <td><%= image_tag(c['strCategoryThumb'],size: '150x100', alt: 'MealImage') %></td>
                  <td><%= c['strCategory'] %></td>
                </tr>
              </table>
              <div class="category_desc"><%= c['strCategoryDescription'] %></div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="meals">
      <p><%= link_to '<< Back', nil , onclick: "$('.category, #meals').toggle();", class: "links" %></p>
      <h2 id="mealTitle"></h2>
      <div id="description"></div>
      <div id="catMeals"></div>
    </div>
  </div>
</div>

<script>
  $('.category_link').on('click', function(event) {
    event.preventDefault();
    let category = this.innerText.trim();
    let descr =$(this).find('.category_desc').text();
    $.ajax({
      url: 'meals/meals',
      method: 'get',
      data: { category },
      success: function(response) {
        $('#catMeals, #description, #mealTitle').html('');
        $('#mealTitle').html(category);
        $('#description').html(descr);
        $('#catMeals').html(response);
        $('.category, #meals').toggle();
      }
    })
  });
</script>