<!DOCTYPE html>
<html>
  <head>
    <title>Meal-Plan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div class="home">
      <ul>
        <li><%= link_to 'Meal Week Planer', root_path %></li>
        <% if current_user %>
          <li><%= link_to 'Home', welcome_index_path %></li>
          <li><%= link_to 'Create Week Plan', new_week_path %></li>
          <li><%= link_to 'My Week Plans', weeks_path %></li>
          <li><%= link_to 'Meals', meals_path %></li>
          <li><%= link_to 'Log Out', logout_path %></li>
          <% if current_user.super %>
            <li><%= link_to 'Create Meal', new_my_meal_path %></li>
            <li><%= link_to 'Local Meals', my_meals_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to 'Sign Up', signup_path %></li>
          <li><%= link_to 'Log In', login_path %></li>
        <% end %>
      </ul>
      <div class="box_background"></div>
      <div class="show_box">
        <p class="box_links" onclick="close_box()"><i class="fas fa-window-close"></i> Close</p>
        <p class="box_links" onclick="$('#toPrint').printThis();"><i class="fas fa-print"></i> Print</p>
        <div class="content" id="toPrint"></div>
      </div>
      <%= yield %>
      <div style="text-align:center;">
        <%= link_to 'https://www.linkedin.com/in/matthias-haefeli/', target: "_blank" do %>
          <%= image_tag('myinverse.ico') %>
        <% end %>
      </div>
    </div>
  </body>
</html>
