<!DOCTYPE html>
<html>
  <head>
    <title>WeekPlan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="home">
      <ul>
        <li><%= link_to 'Meal Week Planer', root_path %></li>
        <% if current_user %>
          <li><%= link_to 'Welcome', welcome_index_path %></li>
          <li><%= link_to 'Meals', meals_path %></li>
          <li><%= link_to 'Log Out', logout_path %></li>
        <% else %>
          <li><%= link_to 'Sign Up', signup_path %></li>
          <li><%= link_to 'Log In', login_path %></li>
        <% end %>
      </ul>
      <div class="box_background"></div>
      <div class="show_box">
        <p onclick="close_box()"><i class="fas fa-window-close"></i> Close</p>
        <div class="content"></div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
